{
  "AuthURL": "https://api.animeraiku.com",
  "BaseURL": "https://animeraiku.com",
  "ClientId": "The clientID of the oauth2 server",
  "ClientSecret": "The client Secret of the oauth2 server",
  "User": "The username",
  "Password": "The password"
}