<appSettings>
  <add key="ClientId" value="The clientID of the oauth2 server" />
  <add key="ClientSecret" value="The client Secret of the oauth2 server" />
  <add key="User" value="The username" />
  <add key="Password" value="The password" />
  <add key="AuthURL" value="The URL of the Auth server" />
</appSettings>